.signature {
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -92%);
  width: 100%;
  text-align: center;
  font-size: clamp(0.875rem, 0.838rem + 0.1852vw, 1rem);
  color: #424242;
  margin: 30px 0px;
}

.signature-link {
  color: #629aee;
  background: -webkit-linear-gradient(left, #629aee, #213755);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #629aee;
}