/* all clapm functions from 1440px to 320px */

.success-logo-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0.625rem, 0.4464rem + 0.8929vw, 1.25rem); /* 20px > 10px */
    margin-bottom: clamp(0.125rem, 0.0893rem + 0.1786vw, 0.25rem); /* 4px > 2px */
}

.success-heading{
    text-align: center;
    font-size: clamp(1.125rem, 0.9464rem + 0.8929vw, 1.75rem); /* 28px > 18px */
    margin-bottom: clamp(0.25rem, 0.1786rem + 0.3571vw, 0.5rem); /* 8px > 4px */
}

.success-description, .success-description--special{
    max-width: 90%;
    text-align: center;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem); /* 20px > 15px */
}

.success-description--special{
    color: var(--primary-color);
}

.button-exit{
    position: absolute;
    top: clamp(0.3125rem, -0.1696rem + 2.4107vw, 2rem);/* 32px > 5px */
    left: clamp(0rem, -0.5714rem + 2.8571vw, 2rem); /* 32px > 0px */
    outline: 1px solid var(--text-placeholder-color);
    border-radius: 8px;
}

.button-exit * {
    color: var(--text-color);
    font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem); /* 16px > 14px */
}