/* all clapm functions from 1440px to 320px */

.form{
    width: 100%;
}

.input-icon svg{
    width: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem); /* 16px > 14px */
    height: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem); /* 16px > 14px */
    fill: var(--icon-color);
    margin-right: 4px;
}

.ant-input{
    font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem) !important; /* 16px > 14px */
    color: var(--text-placeholder-color);
}

.ant-btn *{
    transition: color .3s ease;
    color: var(--white-color);
    font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem) !important; /* 16px > 14px */
}

.ant-btn-variant-solid:disabled *{
    color: var(--text-placeholder-color);
}