.form{
    width: 100%;
}

.input-icon svg{
    width: 16px;
    height: 16px;
    fill: var(--icon-color);
    margin-right: 4px;
}

.ant-input{
    font-size: 16px !important;
    color: var(--text-placeholder-color);
}

.ant-btn *{
    transition: color .3s ease;
    color: var(--white-color);
}

.ant-btn-variant-solid:disabled *{
    color: var(--text-placeholder-color);
}