/* all clapm functions from 1440px to 320px */

.logo-wrapper{
    display: flex;
    align-items: center;
}

.logo-circle{
    width: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem); /* 24px > 16px */
    height: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem); /* 24px > 16px */
    border: clamp(0.3125rem, 0.2946rem + 0.0893vw, 0.375rem) solid var(--primary-color); /* 6px > 5px */
    border-radius: 50%;
    margin-right: clamp(0.25rem, 0.1607rem + 0.4464vw, 0.5625rem); /* 9px > 4px */
}

.logo-text{
    font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem); /* 16px > 14px */
}