@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --primary-color: #1677FF;
  --text-placeholder-color: #00000040;
  --text-color: #000000E0;
  --icon-color: #00000073;
  --white-color: #FFFFFF;
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Normal */
  font-style: normal;
  line-height: 1.4;
  color: var(--text-color);
}

body {
  background-color: #F5F5F5;
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root{
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1300px;
  width: 91.11%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}